@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Lato:wght@900&family=League+Gothic&display=swap');


*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Hubballi', cursive;
    text-transform: none;

}

/*================ MENU ======================*/

.menu{
    height: 70px;
    border-bottom: 0.4px solid white;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.logo-menu{
    color: white;
    cursor: default;
}

.logo-menu span{
    color: #07a1c5; 
    font-weight: bold;
}
.lista-menu{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    gap:30px;
}

.item-lista-menu{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
}

.item-lista-menu:hover{
    color: white;
}

/*================ MENU ======================*/


/*================ BANNER ======================*/
.image-background{
    background-image: url(/background.jpg) ;
    background-size: cover;
}
.person-information{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 600px;
}

.image-person{
    width: 400px;
    border-radius: 50%;
}

.text-information-person{
    cursor:default;
}

.name-text-hello{
    color:white;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 70px;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 5px;
}

.name-title{
    color:white;
    font-size: 60px;
}

.name-title span{
    color: #07a1c5; 
    font-weight: bold;
}

.text-graduate{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon-graduate{
    color:white;
    margin-left: 0px;
    margin-right: 0px;
}
.text-graduate-course{
    margin-left: 10px;
    color:white;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

.social-media-icons-group{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 250px;
}

.icon-social-media{
    color:white;
    font-size: 50px;
    margin-left: 5px;
    margin-right: 10px;
}

.icon-social-media:hover{
    color: #07a1c5; 
}
/*================ BANNER ======================*/

/*================ ABOUT ME ======================*/
.aboutme-content{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title-aboutme-content{
    display: flex;
    padding-top: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}


.icon-title-about{
    color: #07a1c5;
    font-size: 50px;
}

.title-aboutme-content h1{
    font-family: 'Lato', sans-serif;
}

.text-aboutme-content{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.bio-aboutme-content{
    max-width: 500px;
    padding-top: 50px;
    text-align: justify;
    font-size: 20px;
}

.cards-job{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-job-item{
    width: 13rem;
    height: 13rem;
    cursor: pointer;
    text-align: justify;
}

.card-job-item:hover{
    color: #07a1c5;
}
/*================ ABOUT ME ======================*/

