
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Lato:wght@900&family=League+Gothic&family=Roboto&display=swap');
*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Hubballi', cursive;
    text-transform: none;

}

/*================ MENU ======================*/

.menu{
    height: 70px;
    border-bottom: 0.4px solid white;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.logo-menu{
    color: white;
    cursor: default;
}

.logo-menu span{
    color: #2196f3; 
    font-weight: bold;
}
.lista-menu{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    gap:30px;
}

.item-lista-menu{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
}

.item-lista-menu:hover{
    color: white;
}

/*================ MENU ======================*/


/*================ BANNER ======================*/
.image-background{
    background-image: url(/background.jpg) ;
    background-size: cover;
}
.person-information{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 600px;
}

.image-person{
    width: 400px;
    border-radius: 50%;
}

.text-information-person{
    cursor:default;
}

.name-text-hello{
    color:white;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 70px;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 5px;
}

.name-title{
    color:white;
    font-size: 60px;
}

.name-title span{
    color: #2196f3; 
    font-weight: bold;
}

.text-graduate{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon-graduate{
    color:white;
    margin-left: 0px;
    margin-right: 0px;
}
.text-graduate-course{
    margin-left: 10px;
    color:white;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

.social-media-icons-group{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 250px;
}

.icon-social-media{
    color:white;
    font-size: 50px;
    margin-left: 5px;
    margin-right: 10px;
}

.icon-social-media:hover{
    color: #2196f3; 
}
/*================ BANNER ======================*/

/*================ ABOUT ME ======================*/

/*================ TEXT BIO */
.aboutme-content{
    height: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}

.title-aboutme-content{
    display: flex;
    width: 1000px;
    padding-top: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


.icon-title-about{
    color: #2196f3;
    font-size: 50px;
    position: relative;
    right: 21%;
    bottom: 3px;
}

.title-aboutme-content h1{
    font-family: 'Lato', sans-serif;
    position: relative;
    right: 61%;
    font-size: 50px;
}

.text-aboutme-content{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.bio-aboutme-content{
    max-width: 1000px;
    padding-top: 50px;
    text-align: justify;
    font-size: 20px;
}
/*================ TEXT BIO */

/*================ CARD BIO */
.info-person-content{
    padding-top:50px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    min-width: 1000px;
    max-width: 1000px;
}

.cards-job{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 1px;
}

.card-job-item{
    display: flex;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    text-align: justify;
    background-color: white ;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.11);
    flex-direction: column;
    transition: 0.2s;
    justify-content: center;
    text-decoration: none;
}

.card-onnet{
    border-bottom: 5px solid #35db19;
}

.card-onnet:hover{
    border-bottom: 40px solid #35db19;
}

.card-bc{
    border-bottom: 5px solid #2bafcf;
}

.card-bc:hover{
    border-bottom: 40px solid #2bafcf;
}

.card-job-item-icon-onnet{
    font-size: 100px;
    color:#35db19;
}

.card-job-item-icon-bc{
    font-size: 100px;
    color: #2bafcf;
}

.card-job-item-text{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/*================ CARD BIO */

/*================ TABLE INFO */

.title-text-info-person-jobs{
    font-weight: bold;
}

.table-info-person-content{
    padding-top: 50px;
}

.table-info-person tbody tr td{
    font-weight: none;
    padding-top: 50px;
    font-size: 20px;

}

.table-info-person tbody tr td:nth-child(1){
    white-space: nowrap;
    padding-right: 50px;
}

.table-info-person tbody tr td:nth-child(2){
    padding-right: 40px;
}

.table-info-person tbody tr td:nth-child(3){
    padding-left: 40px;
}


/*================ TABLE INFO */


/*================ SKILLS */

.skills-content{
    width: 1000px;
    padding-top: 30px;
    border-top: 2px solid #c4c4c4 ;
    margin-top: 100px;
}

.title-skills-content{
    display: flex;
    width: 1000px;
    padding-top: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.title-skills-content i{ 
    position: relative;
    right: 15%;
    font-size: 50px;
    color: #2196f3;
}

.title-skills-content h1{
    font-family: 'Lato', sans-serif;
    position: relative;
    right: 44%;
    font-size: 50px;
}

.division-skills{
    padding-top: 50px;
}


/*================ SKILLS */


.contact-page{
    height: 400px;
    display: flex;
    background-color: #2196f3;
}

.contact-content{
    max-width: 1000px;
}

.title-contact-content{
    display: flex;
    width: 1000px;
    padding-top: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.icon-title-contact{
    font-size: 50px;
    position: relative;
    right: 21%;
    bottom: 3px;
}

.title-contact-content h1{
    font-family: 'Lato', sans-serif;
    position: relative;
    right: 61%;
    font-size: 50px;
    color: white;
}

.information-contact-content{
    display: flex;
}

.cards-information-contact{
    display: flex;
    gap: 30px;
    padding-top: 50px;

}

.card-information-contact{
    display: flex;
    width: 20rem;
    height: 10rem;
    cursor: default;
    text-align: justify;
    background-color: white ;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.11);
    flex-direction: column;
    justify-content: center;
}

.card-information-contact h3{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    right: 100px;
    bottom:30px;
    
}

/*================ ABOUT ME ======================*/

