
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Lato:wght@900&family=League+Gothic&family=Roboto&display=swap');
*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Hubballi', cursive;
    text-transform: none;
    color: #e6f2fc;

}

/*================ MENU ======================*/

.menu{
    height: 70px;
    right: 185px;
    border-bottom: 0.4px solid #e6f2fc;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 1220px;
    position: fixed;
    background-color: #191c24;
    z-index: 9999;
}
.logo-menu{
    cursor: default;
}

.logo-menu span{
    color: #2ead69; 
    font-weight: bold;
}
.lista-menu{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    gap:30px;
}

.item-lista-menu{
    color: #e6f2fc;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
}

.item-lista-menu:hover{
    color: #e6f2fc;
}

/*================ MENU ======================*/


/*================ BANNER ======================*/
.fundo {
    background-color: black;  
}
.image-background{
   /* background-image: url(/background.jpg) ;*/
    background-color: #191c24;
    width: 1220px;
    border-radius: 0px 0px 10px 10px;
}
.person-information{
    display: flex;
    width: 1000px;
    justify-content:space-around;
    align-items: center;
    height: 600px;
}

.image-person{
    width: 300px;
    border-radius: 50%;
}

.text-information-person{
    cursor:default;
    margin-top: 150px;
}

.name-text-hello{
    color:#e6f2fc;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 70px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
}

.name-title{
    color:#e6f2fc;
    font-size: 60px;
}

.name-title span{
    color: #2ead69; 
    font-weight: bold;
}

.text-graduate{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon-graduate{
    color:#e6f2fc;
    margin-left: 0px;
    margin-right: 0px;
}
.text-graduate-course{
    margin-left: 10px;
    color:#e6f2fc;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}
.social-media-icons-group{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 100px;
}

.icon-social-media{
    color:#e6f2fc;
    font-size: 50px;
    margin-left: 5px;
    margin-right: 10px;
}

.icon-social-media:hover{
    color: red; 
}
/*================ BANNER ======================*/

/*================ ABOUT ME ======================*/

/*================ TEXT BIO */
.aboutme-content{
    height: 1900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

.text-aboutme-content{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.bio-aboutme-content{
    margin-top: 30px;
    max-width: 1000px;
    text-align: justify;
    font-size: 20px;
    background-color: #191c24 ;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    padding: 30px;
}
/*================ TEXT BIO */

/*================ CARD BIO */
.info-person-content{
    padding-top:20px;
    display: flex;
    flex-direction: row;
    min-width: 1000px;
    max-width: 1000px;
}

.cards-job{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 1px;
}

.card-job-item{
    display: flex;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    text-align: justify;
    background-color: #191c24 ;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.11);
    flex-direction: column;
    transition: 0.2s;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
}

.card-onnet{
    border-bottom: 5px solid #feb815;
}

.card-onnet:hover{
    border-bottom: 40px solid #feb815;
}

.card-bc{
    border-bottom: 5px solid #3ad8ff;
}

.card-bc:hover{
    border-bottom: 40px solid #3ad8ff;
}

.card-job-item-icon-onnet{
    font-size: 100px;
    color: #feb815;
}

.card-job-item-icon-bc{
    font-size: 100px;
    color: #3ad8ff;
}

.card-job-item-text{
    text-decoration: none;
    color: #e6f2fc;
}
/*================ CARD BIO */

/*================ TABLE INFO */
.text-info-person-jobs-content{
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.11);
    background-color: #191c24;
    border-radius: 10px;
    padding: 40px;
    width: 640px;
    position: relative;
    left: 14px;

}

.title-text-info-person-jobs{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.table-info-person-content{
    padding-top: 50px;
}

.table-info-person tbody tr td{
    font-weight: none;
    padding-top: 50px;
    font-size: 20px;

}

.table-info-person tbody tr td:nth-child(1){
    white-space: nowrap;
    padding-right: 50px;
}

.table-info-person tbody tr td:nth-child(2){
    padding-right: 40px;
}

.table-info-person tbody tr td:nth-child(3){
    padding-left: 40px;
}


/*================ TABLE INFO */


/*================ SKILLS */

.skills-content{
    width: 1000px;
    margin-top: 35px;
    padding: 50px;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.11);
    background-color: #191c24;
    border-radius: 10px;
}

.title-skills-content{
    display: flex;
    width: 1000px;
    flex-direction: row;

}

.title-skills-content h1{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    right: 41%;
    font-size: 25px;
}

.division-skills{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.card-skill-one{
    padding-bottom: 40px;
}


.progess-skill-bar-background{
    background-color: #313646;
    width: 250px;
    height: 5px; 
}

.progress-skill-bar{

    height: 5px;
    padding: 0%;
    margin: 0;
}

.linguagemC-progress{
    width: 95%;
    background-color: #2196f3;
}

.HTML-progress{
    width: 90%;
    background-color: #ff9300;
}

.java-progress{
    width: 80%;
    background-color: #e01e24;
}

.Cc-progress{
    width: 50%;
    background-color: #7b20d1;
}

.css-progress{
    width: 70%;
    background-color: #33f4ff;
}

.JavaScript-progress{
    width: 20%;
    background-color: #ead41c;
}

.node-progress{
    width: 30%;
    background-color: green;
}

.angular-progress{
    width: 30%;
    background-color: #ea00ff;
}

.sql-progress{
    width: 50%;
    background-color: #2ead69;
}


/*================ SKILL */

/*================ GRADUATION */

.graduation-content{
    width: 1000px;
    margin-top: 35px;
    padding: 50px;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.11);
    background-color: #191c24;
    border-radius: 10px;
}

.title-graduation-content{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.title-graduation-content h1{
    position: relative;
    right: 41%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}
.information-graduation-text-content{
    background-color: #232733;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.11);
    margin-top: 40px;
}

.information-graduation-text-content h3{
    padding: 10px 0px 0px 20px;
    font-size: 25px;
    font-weight: bold;
}

.information-graduation-text-content h4{
    padding: 0px 0px 10px 20px;
    font-size: 17px;
}
/*================ GRADUATION */

.contact-page{
    height: 250px;
    display: flex;
    background-color: rgb(46, 173, 105);
    background-image: linear-gradient(to bottom, rgb(22, 85, 51), rgb(46, 173, 105));
}

.contact-content{
    max-width: 1000px;
}

.title-contact-content{
    display: flex;
    width: 1000px;
    padding-top: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.information-contact-content{
    display: flex;
}

.cards-information-contact{
    display: flex;
    gap: 30px;
    padding-top: 50px;

}

.card-information-contact{
    display: flex;
    width: 20rem;
    height: 10rem;
    cursor: default;
    text-align: justify;
    background-color: rgb(25, 28, 36) ;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.11);
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.card-information-contact h3{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    right: 100px;
    bottom:30px;
    
}

.card-information-contact h2{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    right: 100px;
    bottom: 15px;
    
}

/*================ ABOUT ME ======================*/

